*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url('../assets/backdrop-one-blue.svg');

    /* make background image stretch to fill screen, warp if needed */
    background-size: cover;
    background-repeat: no-repeat;


    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
}