*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url('../assets/backdrop-one-blue.svg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
}