.window {
    position: absolute;
    top: 0;
    left: 0;

    width: 60%;
    height: 60%;

    background-color: rgba(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);

    z-index: 100;

    font-family: 'Inter', sans-serif;

}

.window-titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    height: 3.5rem;
}

.window-titlebar-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 0.5rem;
}

.window-titlebar-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 0.25rem;
}

.window-titlebar-controls button {

    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;

    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem;
}

.window-titlebar-controls button:hover {
    background-color: #e0e0e0;
}

.window-titlebar-controls button:active {
    background-color: #336dff;
    color: white;
}

button.window-titlebar-close:active {
    background-color: #ff336d;
}

.window-content {
    height: calc(100% - 3.5rem);
    border-radius: 0.5rem !important;
}

.window-content-inner {
    height: 100%;
    border-radius: 0.5rem;
}

.window-content-inner::-webkit-scrollbar {
    width: 0.5rem;
}

.window-content-inner::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 0.5rem;
}

.window-content-inner::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 0.5rem;
}